<template>
  <v-card color="grey lighten-4" flat>
    <v-card-text>
      <v-container fluid>
        <p class="text-xs-left" STYLE="font-size: 15pt;">Registered Customer Login</p>
        <p class="text-xs-center" STYLE="color: red;">{{msg}}<p>
        <v-layout row>
          <v-flex>
            <v-text-field
              label="Email"
              v-model="email"
              prepend-icon="account_box"
              :rules="emailRules"
              required
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex>
            <v-text-field
              label="Password"
              type="password"
              v-model="password"
              prepend-icon="lock"
              :rules="passRules"
              required
            ></v-text-field>
          </v-flex>
        </v-layout>
        <p class="text-xs-center" STYLE="color: red;">{{errorMsg}}<p>
        <div class="text-xs-center">
          <v-btn round color="primary" dark @click="login">Login</v-btn>
        </div>
        <br>
        <router-link :to="{ name: 'Register.index' }">
          <p>Register New Account</p>
        </router-link>
        <router-link :to="{ name: 'Admin.login' }">
          <p>Admin Login Here</p>
        </router-link>

        <!-- <v-layout row wrap>
          <v-flex>
            <p>Not a member? &nbsp;</p>
            <router-link :to="{ name: 'Register.index' }">
              <p>Sign Up Now</p>
            </router-link>
          </v-flex>
          <v-flex>
            <p>Admin Login &nbsp;</p>
            <router-link :to="{ name: 'Admin.login' }">
              <p>Here</p>
            </router-link>
          </v-flex>
        </v-layout> -->
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import UserApi from '../../api/users'

export default {
  props: ['msg','returnRoute', 'total'],
  data () {
    return {
      email: '',
      emailRules: [ (v) => !!v || 'E-mail is required'],
      password: '',
      passRules: [(v) => !!v || 'Password is required'],
      errorMsg: null
    }
  },
  methods: {
    login () {
      UserApi.login(this.email, this.password, this.returnRoute, this.total, _rs => {
        if(_rs != null){
          this.errorMsg = _rs
        }
      })
    }
  }
}
</script>
