<template>
  <v-stepper  vertical v-model="e1" v-if="this.responseMsg === ''">
    <v-stepper-step step="1" v-bind:complete="e1 > 1">
      Shipping
    </v-stepper-step>
    <v-stepper-content step="1">
      <v-card color="grey lighten-4">
        <br>
        <v-layout row wrap>
          <p class="ml-3">Shipping Address</p>
        </v-layout>
        <v-divider></v-divider>
        <v-container grid-list-md>
          <v-form v-model="valid" ref="form" lazy-validation>
            <v-layout row wrap>
              <v-flex xs4>
                <v-subheader>Name</v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-text-field
                  v-model="name"
                  :rules="[rules.required]"
                ></v-text-field>
              </v-flex>
              <v-flex xs4>
                <v-subheader>Address</v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-text-field
                  v-model="address"
                  :rules="[rules.required]"
                ></v-text-field>
              </v-flex>
              <v-flex xs4>
                <v-subheader>Postcode</v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-text-field
                  v-model="postcode"
                  :mask="postcodeMask"
                  :rules="[rules.required]"
                ></v-text-field>
              </v-flex>
              <v-flex xs4>
                <v-subheader>District</v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-text-field
                  v-model="district"
                  :rules="[rules.required]"
                ></v-text-field>
              </v-flex>
              <v-flex xs4>
                <v-subheader>Province</v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-select
                  label="Select"
                  v-bind:items="provinceList"
                  v-model="province"
                  item-value="text"
                  :rules="[rules.required]"
                ></v-select>
              </v-flex>
              <v-flex xs4>
                <v-subheader>Mobile Phone</v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-text-field
                  v-model="phone"
                  :mask="phoneMask"
                  :rules="[rules.required]"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-form>
        </v-container>
      </v-card>
      <v-btn color="primary" @click="submit" :disabled="!valid">Continue</v-btn>
    </v-stepper-content>

    <v-stepper-step step="2" v-bind:complete="e1 > 2">
      Payment
    </v-stepper-step>
    <v-stepper-content step="2">

      <v-card color="grey lighten-4">
        <v-card-title>
          Choose Payment Option
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-radio-group  v-model="checkbox" :mandatory="true">
            <v-radio label="Credit/Debit Card" color="primary" value="1"></v-radio>
            <v-radio label="Cash on Delivery" color="primary" value="2"></v-radio>
            <v-radio label="Online Banking" color="primary" value="3"></v-radio>
          </v-radio-group>
        </v-card-text>
        <v-divider></v-divider>
        <v-card color="grey lighten-4" flat>
          <v-container  v-if="checkbox === null">
            <p>Please select payment method</p>
          </v-container >

          <v-container grid-list-md v-else-if="checkbox === '1'">
            <v-form>
              <v-layout row wrap>
                <v-flex xs4>
                  <v-subheader>Card Number</v-subheader>
                </v-flex>
                <v-flex xs8>
                  <v-text-field
                  ></v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-subheader>Name on card</v-subheader>
                </v-flex>
                <v-flex xs8>
                  <v-text-field
                  ></v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-subheader>Expiry Date</v-subheader>
                </v-flex>
                <v-flex xs4>
                  <v-text-field label="MM"></v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field label="YY"></v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-subheader>CCV / CVV</v-subheader>
                </v-flex>
                <v-flex xs8>
                  <v-text-field
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-form>
          </v-container>

          <v-container v-else-if="checkbox === '2'">
            <p>You can pay in cash to our courier when you receive the goods at your doorstep.</p>
            </v-layout>
          </v-container>

          <v-container v-else>
            <p>To be Implement</p>
          </v-container>

        </v-card>

        <v-divider></v-divider>
        <small>Billing information cannot be changed</small>
        <v-card-actions>
          <v-btn block color="primary" @click.native="checkout">
            <v-icon left>lock</v-icon>
            PlACE YOUR ORDER
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-stepper-content>
  </v-stepper>
  <div v-else>
    <div v-if="responseStatus=='OK'">
      <v-icon color="success" large>check_circle</v-icon>
      <p style="font-size: 15pt">Your Order is Successfully Placed<p>
      <p style="font-size: 20pt"><b>Thank You For Shopping With Us</b></p>
      <p style="font-size: 15pt">{{this.responseMsg}}</p>
      <small>*Order ID use to track your order information and status</small>
    </div>
    <div v-else>
      <v-icon color="error" large>warning</v-icon>
      <p style="font-size: 20pt; color: red">Error Occur</p>
      <p style="font-size: 15pt">{{responseMsg}}</p>
      <p style="font-size: 15pt">Please Try Again</p>
    </div>
  </div>
</template>

<script>
import OrderApi from '../../api/order.js'
import store from '../../store'

export default {
  data () {
    return {
      // global data
      e1: 1,
      // data from shipping section
      valid: true,
      name: '',
      address: '',
      postcode: '',
      district: '',
      province: '',
      phone: '',
      phoneMask: '###-###-####',
      postcodeMask: '#####',
      rules: {
        required: (value) => !!value || 'Required.'
      },
      provinceList: [
        'Bangkok','Mae Hong Son','Chiang Mai','Chiang Rai',
        'Phayao','Lamphun','Lampang',
        'Phrae','Uttaradit'
      ],
      // data from payment section
      // CODE LEGEND
      // {1: Credit/Debit, 2: Cash on Delivery, 3: Online banking}
      checkbox: null,
      // data from after checkout section
      responseStatus: '',
      responseMsg: ''
    }
  },
  methods: {
    checkout(){
      OrderApi.checkout(
        this.name, this.address, this.postcode, this.district, this.province, this.phone,
        store.getters.id, store.getters.total, store.getters.cart
        ,_rs => {
          this.responseStatus = _rs[0]
          this.responseMsg = _rs[1]
      })

    },
    submit () {
      if (this.$refs.form.validate()) {
        // CALL API
        this.e1 = 2
      }
    }
  }
}
</script>
