<template>
  <v-layout v-if="numInCart === 0")>
    <v-container>
      <p style="font-size: 15pt"> You have no item in this cart </p>
      <v-btn color="primary" :to="{ name: 'Home.index' }">
        CONTINUE SHOPPING
        <v-icon right>shopping_cart</v-icon>
      </v-btn>
  </v-container>
  </v-layout>

  <v-layout v-else>
    <v-flex xs12 md12>
     <p class="text-xs-left" STYLE="font-size: 16pt"> My Shopping Cart ({{ numInCart }} Item)</p>
     <v-layout row wrap>
       <v-flex>
         <v-card color="grey lighten-3" class="text-xs-center">
           <br>
           <v-layout row wrap>
             <v-flex>
               <p>Thumbnail</p>
             </v-flex >
             <v-flex>
               <p>Item Name</p>
             </v-flex >
             <v-flex>
               <p>Price</p>
             </v-flex >
             <v-flex>
               <p>Quantity</p>
             </v-flex >
             <v-flex>
               <p>Actions</p>
             </v-flex >
           </v-layout>
           <v-divider></v-divider>
           <v-container fluid grid-list-lg>
             <v-layout
                row wrap
                v-for="item in cart"
                :key="item.productId"
              >
                <v-flex>
                   <v-layout row>
                     <v-flex>
                       <v-avatar>
                         <img :src="'data:image/png;base64,'+item.image">
                       </v-avatar>
                     </v-flex>
                     <v-flex>
                       <p>{{item.productName}}</p>
                     </v-flex>
                     <v-flex>
                       <p>{{item.price}}</p>
                     </v-flex>
                     <v-flex>
                       <p>{{ item.quantity }}</p>
                     </v-flex>
                     <v-flex>
                       <!-- <v-btn flat icon class="mt-3" @click="removeFromCart(item)">
                         <v-icon>clear</v-icon>
                       </v-btn> -->
                       <v-layout column>
                         <v-icon @click="removeFromCart(item)" color="error">cancel</v-icon>
                         <v-icon @click="openEditDialog(item)" color="primary">edit</v-icon>
                       </v-layout>
                     </v-flex>
                   </v-layout>
              </v-flex>
            </v-layout>
           </v-container>
         </v-card>
       </v-flex>

       <v-flex>
         <v-card>
           <br>
           <v-layout row wrap>
             <p class="ml-3">Cart Summary</p>
           </v-layout>
           <v-divider></v-divider>
           <v-card-text>
             <v-layout row wrap>
               <v-flex>
                 <p class="text-xs-left">SubTotal: </p>
                 <p class="text-xs-left">Shipping: </p>
                 <v-divider></v-divider>
                 <br>
                 <p class="text-xs-left">Total: </p>
               </v-flex>

               <v-flex>
                 <p class="text-xs-right">{{totalCartPrice}} ฿</p>
                 <p class="text-xs-right">Free</p>
                 <v-divider></v-divider>
                 <br>
                 <p class="text-xs-right">{{totalCartPrice}}  ฿</p>
               </v-flex >
             </v-layout>
           </v-card-text>

           <v-card-actions>
             <v-btn block color="primary" @click="proceed(totalCartPrice)">CHECKOUT</v-btn>
           </v-card-actions>
         </v-card>
       </v-flex>

     <v-dialog v-model="editDialog" persistent max-width="500px">
       <v-card>
         <v-card-title>
           <span class="headline">Edit {{editItem.productName}} Quantity</span>
         </v-card-title>
         <v-card-text>
           <v-container grid-list-md>
             <p class="text-xs-left">Current Quantity: &nbsp;{{editItem.quantity}}</p>
             <v-form v-model="valid" ref="form" lazy-validation>
               <v-text-field
                 label="New Quantity"
                 v-model="newQuantity"
                 :rules="[rules.required, rules.qty]"
                 :mask="qtyMask"
               >
               </v-text-field>
             </v-form>
           </v-container>
         </v-card-text>

         <v-card-actions>
           <v-flex>
             <v-btn @click="closeEditDialog">Cancel</v-btn>
           </v-flex>
           <v-flex>
             <v-btn color="primary" :disabled="!valid" @click="updateItem">Update</v-btn>
           </v-flex>
         </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
  </v-flex>
 </v-layout>
</template>

<script>
import router from '../../router'
import store from '../../store'

export default {
  name: 'app',
  data () {
    return {
      tmp: null,
      qtyMask: '###',
      rules: {
        required: (value) => !!value || 'Required.',
        qty: (value) => value > 0 && value < 21  || 'Quantity must be between 1-20'
      },
      // edit dailog
      editDialog: false,
      valid: true,
      editItem: '',
      newQuantity: null
    }
  },
  computed: {
    cart() { return store.getters.cart; },
    numInCart() { return store.getters.inCart; },
    totalCartPrice() {
      let total = 0
      for (var i in this.cart) {
          total += this.cart[i].price * this.cart[i].quantity
      }
      return total
    }
  },
  methods: {
    removeFromCart(item) {
      store.dispatch('removeFromCart', item.productId)
    },
    openEditDialog(item) {
      this.editItem = item
      this.editDialog = true
    },
    closeEditDialog() {
      this.editDialog = false
      this.$refs.form.reset()
    },
    updateItem () {
      if (this.$refs.form.validate()) {
        var data = []
        data.push(this.editItem.productId)
        data.push(this.newQuantity)

        store.dispatch('updateItemInCart', data)

        this.editDialog = false
        this.$refs.form.reset()
      }
    },
    proceed: function(total){
      if (store.getters.loggedIn){
        store.dispatch('addTotalCartPrice', total)
      }
      else {
        router.push({ name: 'Login.index', params: { msg: 'Please Login Before Checkout', returnRoute: 'Cart.checkout', total: total} })
      }
    }
  }
}
</script>
