<template>
  <div>
    <v-stepper v-model="e1">
      <v-stepper-header>
        <v-stepper-step step="1" :complete="e1 > 1">Quotation Details</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="2" :complete="e1 > 2">Product Details</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="3" :complete="e1 > 3">Remarks</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="4">Done</v-stepper-step>
      </v-stepper-header>

      <v-stepper-content step="1">
        <v-card color="grey lighten-4" class="mb-5">
          <v-card-title>
            <span class="headline">Quotation Details</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-form v-model="valid1" ref="form1" lazy-validation>

                <p class="text-xs-left"><b>Company Info</b></p>
                <v-text-field
                  label="Company Name"
                  v-model="companyName"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-text-field
                  label="Company Branch"
                  v-model="companyBranch"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  label="Tax Payer ID"
                  v-model="taxId"
                  :mask="taxIdMask"
                  :rules="[rules.required]"
                ></v-text-field>

                <p class="text-xs-left"><b>Address Info</b></p>
                <v-text-field
                  label="Address"
                  v-model="address"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-select
                  label="Province"
                  v-bind:items="provinceList"
                  v-model="province"
                  item-value="text"
                  :rules="[rules.required]"
                ></v-select>
                <v-layout row>
                  <v-text-field
                    label="Postcode"
                    v-model="postcode"
                    :mask="postcodeMask"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-spacer></v-spacer>
                  <v-text-field
                    label="District"
                    v-model="district"
                    :rules="[rules.required]"
                  ></v-text-field>
                </v-layout>
                <p class="text-xs-left"><b>Contact Info</b></p>
                <v-text-field
                  label="Name"
                  v-model="contactName"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-layout>
                  <v-text-field
                    label="Tel."
                    v-model="contactTel"
                    :mask="phoneMask"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-spacer></v-spacer>
                  <v-text-field
                    label="Email"
                    v-model="contactEmail"
                    :rules="[rules.required, rules.email]"
                  ></v-text-field>
                </v-layout>
              </v-form>
            </v-container>
          </v-card-text>
        </v-card>

        <v-layout row wrap>
          <v-flex>
            <v-btn color="primary" @click="submit" :disabled="!valid1">Next</v-btn>
          </v-flex>
        </v-layout>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-card class="mb-5">
          <v-card-text>
            <p class="text-xs-left" style="font-size: 15pt"><b>Product Details</b></p>
            <div class="text-xs-left">
              <v-btn color="success" @click="addDialog = true">
                <v-icon>add</v-icon>
                ADD PRODUCT
              </v-btn>
            </div>
            <br>
            <p class="text-xs-left"><b>Total Item: &nbsp;{{totalItem}}</b></p>
            <p class="text-xs-left"><b>Total Quantity: &nbsp;{{totalQuantity}}</b></p>
          </v-card-text>


          <br>
          <p v-if="list.length == 0" style="color: red">Please select at least one product</p>


          <v-list two-line>
            <template color="grey lighten-4" v-for="product in list">
              <v-divider></v-divider>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>Product Name: &nbsp;{{ product.name }}</v-list-tile-title>
                  <v-list-tile-sub-title>Quantity: &nbsp;{{ product.quantity }}</v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-icon color="error" @click="removeProduct(product.pId)">cancel</v-icon>
                  <v-icon color="primary" @click="openEditDialog(product)">edit</v-icon>
                </v-list-tile-action>
              </v-list-tile>
              <v-divider></v-divider>
            </template>
          </v-list>

          <v-dialog v-model="addDialog" persistent max-width="500px">
            <v-card>
              <v-card-title>
                <span class="headline">Add New Product</span>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-md>
                  <v-form v-model="valid2" ref="form2" lazy-validation>
                    <v-select
                      label="Select Product"
                      v-model="selectedProduct"
                      item-text="name"
                      item-value="pId"
                      return-object
                      autocomplete
                      :search-input.sync="search"
                      :rules="[rules.required]"
                      :items="products"
                    ></v-select>
                    <v-text-field
                      label="Quantity"
                      v-model="selectedQuantity"
                      :rules="[rules.required, rules.qty]"
                      :mask="qtyMask"
                    >
                    </v-text-field>
                  </v-form>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-flex>
                  <v-btn @click="closeAddDialog">Cancel</v-btn>
                </v-flex>
                <v-flex>
                  <v-btn color="success" :disabled="!valid2" @click="addProduct">Add</v-btn>
                </v-flex>
              </v-card-actions>
            </v-card>

          </v-dialog>

          <v-dialog v-model="editDialog" persistent max-width="500px">
            <v-card>
              <v-card-title>
                <span class="headline">Edit {{editInfo.name}} Quantity</span>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-md>
                  <p class="text-xs-left">Current Quantity: &nbsp;{{editInfo.quantity}}</p>
                  <v-form v-model="valid3" ref="form3" lazy-validation>
                    <v-text-field
                      label="New Quantity"
                      v-model="newQuantity"
                      :rules="[rules.required, rules.qty]"
                      :mask="qtyMask"
                    >
                    </v-text-field>
                  </v-form>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-flex>
                  <v-btn @click="closeEditDialog">Cancel</v-btn>
                </v-flex>
                <v-flex>
                  <v-btn color="primary" :disabled="!valid3" @click="updateProduct">Update</v-btn>
                </v-flex>
              </v-card-actions>
            </v-card>

          </v-dialog>

        </v-card>

        <v-layout row wrap>
          <v-flex>
            <v-btn outline @click.native="e1 = 1">Back</v-btn>
          </v-flex>
          <v-flex>
          </v-flex>
          <v-flex>
            <v-btn color="primary" :disabled="list.length==0" @click.native="remarkNext">Next</v-btn>
          </v-flex>
        </v-layout>
      </v-stepper-content>

      <v-stepper-content step="3">
        <v-card color="grey lighten-4" class="mb-5">
          <v-card-title>
            <span class="headline">Additional Remarks</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <p class="text-xs-left">*This field is optional</p>
              <v-text-field
                label="Remarks"
                v-model="remark"
                multi-line
                hint="Optional"
                persistent-hint
              ></v-text-field>
            </v-container>
          </v-card-text>
        </v-card>
        <v-layout row wrap>
          <v-flex>
            <v-btn outline @click.native="e1 = 2">Back</v-btn>
          </v-flex>
          <v-flex>
          </v-flex>
          <v-flex>
            <v-btn color="primary" @click.native="addQuotation">Submit</v-btn>
          </v-flex>
        </v-layout>
      </v-stepper-content>

      <v-stepper-content step="4">
        <v-card color="grey lighten-4" class="mb-5">
          <v-card-text>
            <div v-if="responseStatus=='OK'">
              <v-icon color="success" large>check_circle</v-icon>
              <p style="font-size: 20pt; color: green"> Your Quotation is Successfully Requested</p>
              <p style="font-size: 15pt"> {{responseMsg}}</p>
              <small>*Quotation ID use to track your order information and status</small>
            </div>
            <div v-else>
              <v-icon color="error" large>warning</v-icon>
              <p style="font-size: 20pt; color: red">Error Occur</p>
              <p style="font-size: 15pt">{{responseMsg}}</p>
              <p style="font-size: 15pt">Please Try Again</p>
            </div>
          </v-card-text>
        </v-card>
      </v-stepper-content>
    </v-stepper>
    </v-stepper>
  </div>
</template>

<script>
import QuotationApi from '../../api/quotation'
import ProductApi from '../../api/product'
import router from '../../router'
import store from '../../store'

export default {
  data () {
    return {
      // global
      e1: 0,
      // quotation details section
      valid1: true,
      productName: '',
      productDescription: '',
      companyName: '',
      companyBranch: '',
      taxId: '',
      address: '',
      postcode: '',
      district: '',
      province: '',
      contactName: '',
      contactTel: '',
      contactEmail: '',
      taxIdMask: '##########',
      postcodeMask: '#####',
      phoneMask: '###-###-####',
      // rules.required also shared with product details section
      rules: {
        required: (value) => !!value || 'Required.',
        qty: (value) => value > 0 || 'Quantity cannot be 0',
        email: (value) => {
          const pattern = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
      provinceList: [
        'Bangkok','Mae Hong Son','Chiang Mai','Chiang Rai',
        'Phayao','Lamphun','Lampang',
        'Phrae','Uttaradit'
      ],
      // product details section
      qtyMask: '########',
      search: '',
      list: [],
      // addDialog
      addDialog: false,
      valid2: true,
      mode: null,
      products: [],
      selectedProduct: '',
      selectedQuantity: null,
      // editDialog
      editDialog: false,
      valid3: true,
      editInfo: '',
      newQuantity: null,
      // remark section
      remark: '',
      // done section.,
      responseStatus: '',
      responseMsg: ''
    }
  },
  computed: {
    totalItem() {return this.list.length},
    totalQuantity() {
      let totalQty = 0
      for (var i in this.list) {
          totalQty = +totalQty + +this.list[i].quantity
      }
      return totalQty
    }
  },
  created(){
   this.fetchData()
  },
  methods: {
    // quotation details section
    submit () {
      if (this.$refs.form1.validate()) {
        this.e1 = 2
      }
    },
    // product detalis section
    fetchData () {
      ProductApi.getProductSelectList(_products => {
        this.products = _products
      })
    },
    closeAddDialog() {
      this.addDialog = false
      this.$refs.form2.reset()
    },
    addProduct () {
      if (this.$refs.form2.validate()) {
        const record = this.list.find(target => target.pId === this.selectedProduct.pId)
        if (!record){
          this.list.push({
            pId: this.selectedProduct.pId,
            name: this.selectedProduct.name,
            quantity: this.selectedQuantity,
          })
        } else {
          record.quantity = +record.quantity + +this.selectedQuantity
        }

        this.addDialog = false
        this.$refs.form2.reset()
      }
    },
    removeProduct (pId) {
      const index = this.list.findIndex(list => list.pId === pId)
      this.list.splice(index, 1)
    },
    openEditDialog(product) {
      this.editInfo = product
      this.editDialog = true
    },
    closeEditDialog() {
      this.editDialog = false
      this.$refs.form3.reset()
    },
    updateProduct () {
      if (this.$refs.form3.validate()) {
        const record = this.list.find(target => target.pId === this.editInfo.pId)
        record.quantity = this.newQuantity

        this.editDialog = false
        this.$refs.form3.reset()
      }
    },
    remarkNext () {
      if (this.list.length > 0){
        this.e1 = 3
      }
    },
    // remark section
    addQuotation () {
      var items = []
      var itemCount = 0
      var quantityCount = 0
      for (var i in this.list) {
          itemCount += 1
          quantityCount += parseInt(this.list[i].quantity)
          items.push({
            pId: this.list[i].pId,
            quantity: parseInt(this.list[i].quantity)
          })
      }
      var form = []
      form.push(this.companyName)
      form.push(this.companyBranch)
      form.push(this.address)
      form.push(this.postcode)
      form.push(this.district)
      form.push(this.province)
      form.push(this.taxId)
      form.push(this.contactName)
      form.push(this.contactTel)
      form.push(this.contactEmail)
      form.push(this.remark)
      form.push('Requested')
      form.push(store.getters.id)
      form.push(itemCount)
      form.push(quantityCount)

      QuotationApi.addQuotation(form, items, _rs => {
        this.responseStatus = _rs[0]
        this.responseMsg = _rs[1]
        this.e1 = 4
      })

    }
  }
}
</script>
