<template>
  <v-card>
    <v-card-text>

      <v-layout column>
        <v-flex class="text-xs-left">
          <p style="font-size: 20pt"><b>Quotation #{{data.quotation.quotationId}}</b></p>
        </v-flex>
        <v-flex class="text-xs-left">
          <p style="font-size: 15pt"><b>Date:</b> &nbsp;{{date}}</p>
        </v-flex>
      </v-layout>

      <v-layout>
        <v-flex class="text-xs-left">
          <p v-if="data.quotation.status=='Approved'" style="font-size: 15pt; color: green"><b>STATUS: &nbsp;{{data.quotation.status}}</b></p>
          <p v-else-if="data.quotation.status=='Disapproved'" style="font-size: 15pt; color: red"><b>STATUS: &nbsp;{{data.quotation.status}}</b></p>
          <p v-else style="font-size: 15pt"><b>STATUS: &nbsp;{{data.quotation.status}}</b></p>
        </v-flex>
      </v-layout>

      <div v-if="role=='USER'">
        <div v-if="data.quotation.status == 'Offered'">
          <p class="text-xs-left" style="font-size: 15pt">Change Status</p>
          <p style="color: red">*This action cannot be undo once you update status*</p>
          <v-layout>
            <v-select
              label="Select"
              v-bind:items="status"
              v-model="selected"
            ></v-select>
            <v-btn color="red" dark @click="update">UPDATE</v-btn>
          </v-layout>
        </div>
      </div>

    </v-card-text>

    <v-expansion-panel expand>

      <v-expansion-panel-content>
        <div slot="header"><b>COMPANY INFO</b></div>
        <v-card>
          <v-card-text>
            <v-flex class="text-xs-left">
              <p><b>Company Name:</b> &nbsp;{{data.quotation.companyName}}</p>
              <p><b>Company Branch:</b> &nbsp;{{data.quotation.companyBranch}}</p>
              <p><b>Tax Payer ID:</b> &nbsp;{{data.quotation.taxId}}</p>
            </v-flex>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>

      <v-expansion-panel-content>
        <div slot="header"><b>ADDRESS INFO</b></div>
        <v-card>
          <v-card-text>
            <v-flex class="text-xs-left">
              <p><b>Address:</b></p>
              <p>{{data.quotation.address}}</p>
            </v-flex>
            <v-layout>
              <v-flex class="text-xs-left">
                <p><b>Postcode:</b> &nbsp;{{data.quotation.postcode}}</p>
              </v-flex>
              <v-flex class="text-xs-center">
                <p><b>District:</b> &nbsp;{{data.quotation.district}}</p>
              </v-flex>
              <v-flex class="text-xs-right">
                <p><b>Province:</b> &nbsp;{{data.quotation.province}}</p>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>

      <v-expansion-panel-content>
        <div slot="header"><b>CONTACT INFO</b></div>
        <v-card>
          <v-card-text>
            <v-flex class="text-xs-left">
              <p><b>Name:</b> &nbsp;{{data.quotation.contactName}}</p>
              <p><b>Tel:</b> &nbsp;{{data.quotation.contactTel}}</p>
              <p><b>Email:</b> &nbsp;{{data.quotation.contactEmail}}</p>
            </v-flex>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>

      <v-expansion-panel-content>
        <div slot="header"><b>REMARK</b></div>
        <v-card>
          <v-card-text>
            <p v-if="data.quotation.remark == '' ">There is no remark</p>
            <p v-else>{{data.quotation.remark}}</p>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>

    <v-card>
      <v-card-title>
        <b>PRODUCTS</b>
      </v-card-title>
      <div v-if="role=='ADMIN'">
        <div v-if="data.quotation.status == 'Requested'">
          <div v-if="error_msg" class="text-xs-center">
            <v-icon color="error">warning</v-icon>
            <p style="color: red">Please Update Price Offer</p>
            <p style="color: red"><b>Product ID:</b> &nbsp;{{error_msg[0]}} &nbsp; <b>Product Name:</b> &nbsp;{{error_msg[1]}}</p>
          </div>
          <v-btn block color="red" dark @click="openConfirmDialog">UPDATE</v-btn>
        </div>
      </div>
      <v-data-table
          v-bind:headers="headers"
          :items="items"
        >
        <template slot="items" slot-scope="props">
          <tr @click="openEditDialog(props.item)">
            <td class="text-xs-center">{{ props.item.pId }}</td>
            <td class="text-xs-center">{{ props.item.productName }}</td>
            <td class="text-xs-center">{{ props.item.proposedQuantity }}</td>
            <td class="text-xs-center">{{ props.item.offeredPrice }}</td>
          </tr>
        </template>
      </v-data-table>
    </v-card>

    <v-snackbar
     :timeout="timeout"
     :color="color"
     :multi-line="mode === 'multi-line'"
     :top="y === 'top'"
     v-model="snackbar"
    >
      <v-icon dark>check_circle</v-icon>&nbsp;&nbsp;UPDATE SUCCESS
      <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>

    <v-dialog v-model="editDialog" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">Offer Price</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <p class="text-xs-left"><b>Product Name:</b> &nbsp;{{editItem.productName}}</p>
            <p class="text-xs-left"><b>Quantity:</b> &nbsp;{{editItem.proposedQuantity}}</p>
            <p class="text-xs-left"><b>Unit Price:</b> &nbsp;{{editItem.productPrice}}</p>
            <p class="text-xs-left"><b>Total:</b> &nbsp;{{editItem.normalPrice}}</p>
            <v-divider></v-divider>
            <br>
            <p class="text-xs-left"><b>Current Price Offer:</b> &nbsp;{{editItem.offeredPrice}}</p>
            <v-form v-model="valid" ref="form" lazy-validation>
              <v-text-field
                label="New Price Offer"
                v-model="offerPrice"
                :rules="[rules.required, rules.qty]"
                :mask="qtyMask"
              >
              </v-text-field>
            </v-form>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-flex>
            <v-btn @click="closeEditDialog">Cancel</v-btn>
          </v-flex>
          <v-flex>
            <v-btn color="primary" :disabled="!valid" @click="updateItem">Update</v-btn>
          </v-flex>
        </v-card-actions>
       </v-card>
     </v-dialog>

     <v-dialog v-model="confirmDialog" max-width="500px">
      <v-card>
        <v-card-title class="headline">Are you sure?</v-card-title>
        <v-card-text class="text-xs-center">
          <p>You are about to offer price on </p>
          <p style="font-size: 15pt"><b>Quotation#{{data.quotation.quotationId}}</b></p>
          <p>This Quotation <b>Status</b> will be updated to <b>Offered</b></p>
          <small style="color: red">*This action cannot be undo once you update status*</small>
        </v-card-text>
        <v-card-actions>
          <v-flex>
            <v-btn @click="confirmDialog = false">CANCEL</v-btn>
          </v-flex>
          <v-flex>
            <v-btn color="error" @click="updateOfferPrice">UPDATE</v-btn>
          </v-flex>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import QuotationApi from '../../api/quotation'
import router from '../../router'

export default {
  props: ['quoteId', 'role'],
  data () {
    return {
      data: {},
      selected: '',
      status: ['Approved', 'Disapproved'],
      // quotation section
      headers: [
        { text: 'Product ID', value: 'pId', align: 'center'},
        { text: 'Product Name', value: 'pName', align: 'center'},
        { text: 'Quantity', value: 'qty', align: 'center'},
        { text: 'Offer Price', value: 'offer', align: 'center'},
      ],
      items: [],
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
        qty: (value) => value > 0 || 'Quantity cannot be 0'
      },
      error_msg: null,
      // edit editDialog
      editDialog: false,
      valid: true,
      editItem: '',
      offerPrice: null,
      qtyMask: '#########',
      // confirmation Dialog
      confirmDialog: false,
      // snackbar
      snackbar: false,
      color: 'success',
      y: 'top',
      mode: 'multi-line',
      timeout: 3000
    }
  },
  computed: {
    date() {
      var d = new Date(this.data.quotation.created).toLocaleDateString('en-GB')
      return d
    }
  },
  created(){
   this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    // editDialog
    openEditDialog(item) {
      if(this.role == 'ADMIN'){
        this.editItem = item
        this.editDialog = true
      }
    },
    closeEditDialog() {
      this.editDialog = false
      this.$refs.form.reset()
    },
    updateItem () {
      if (this.$refs.form.validate()) {
        const record = this.items.find(target => target.pId === this.editItem.pId)
        record.offeredPrice = this.offerPrice

        this.editDialog = false
        this.$refs.form.reset()
      }
    },
    openConfirmDialog(){
      var error = false
      var errorMsg = []

      for (var i in this.items) {
          if (this.items[i].offeredPrice == 0){
            error = true
            errorMsg.push(this.items[i].productName)
            errorMsg.push(this.items[i].pId)
            break;
          }
      }

      if (error == true) {
        this.error_msg = errorMsg
      } else {
        this.confirmDialog = true
      }
    },
    // API CALL
    fetchData () {
      QuotationApi.getQuotation(this.quoteId, _quotation => {
        this.data = _quotation
        this.items = _quotation.quotationItemList
      })
    },
    update () {
      const formData = new FormData()
      formData.append('id', this.quoteId)
      formData.append('status', this.selected)
      QuotationApi.updateStatus(formData, _res => {
        this.data = _res
        this.items = _res.quotationItemList
        this.snackbar = true
      })
    },
    updateOfferPrice () {
      QuotationApi.updateOfferPrice(this.data.quotation.quotationId, this.items, _res => {
        this.data = _res
        this.items = _res.quotationItemList
        this.confirmDialog = false
        this.snackbar = true
      })
    }
  }
}
</script>
