<template>
  <v-container v-if="product!=null">
    <v-card>
      <v-layout column>
        <v-carousel>
          <v-carousel-item :src="'data:image/png;base64,'+product.image"></v-carousel-item>
        </v-carousel>

        <v-card-text>
          <p class="text-xs-left"><b>Product Name</b></p>
          <p class="text-xs-left">{{product.productName}}</p>
          <v-divider></v-divider>
          <br>
          <p class="text-xs-left"><b>Product Detail</b></p>
          <p class="text-xs-left">{{product.productDescription}}</p>
          <div class="space"></div>
          <v-divider></v-divider>
          <br>
          <p class="text-xs-left"><b>Product Specifications</b></p>
          <v-layout row wrap>
            <v-flex>
              <p class="text-xs-left">Prduct Length: &nbsp; {{product.length}} cm</p>
              <p class="text-xs-left">Prduct Height: &nbsp; {{product.height}} cm</p>
            </v-flex>
            <v-flex>
              <p class="text-xs-left">Prduct Width: &nbsp; {{product.width}} cm</p>
              <p class="text-xs-left">Prduct Weight: &nbsp; {{product.weight}} g</p>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <br>
          <v-layout row wrap>
            <v-flex>
              <p class="text-xs-left" style="font-size: 15pt"><b>Price:</b> &nbsp;{{product.price}} ฿</p>
            </v-flex>
            <v-flex>
              <p v-if="product.quantity == 0" class="text-xs-right" style="font-size: 15pt"><b>Stock:</b> &nbsp;OUT OF STOCK</p>
              <p v-else class="text-xs-right" style="font-size: 15pt;"><b>Stock:</b> &nbsp;{{product.quantity}}</p>
            </v-flex>
          </v-layout>

          <v-btn color="primary" v-if="role==null" :disabled="product.quantity==0" @click="addToCart(product)">Add to Cart</v-btn>
        </v-card-text>
      </v-layout>
    </v-card>
  </v-container>
</template>

<script>
import router from '../../router'
import ProductApi from '../../api/product'
import store from '../../store'
export default {
  props: ['productId', 'role'],
  data () {
    return {
      product: null
    }
  },
  created(){
   this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    addToCart(product){
      store.dispatch('addToCart', product)
    },
    fetchData () {
      ProductApi.getProduct(this.productId,_product => {
        this.product = _product
      })
    }
  }
}
</script>

<style lang="scss">
  .space {
    margin-top: 100px;
  }
</style>
