<template>
  <div>
    <v-stepper v-model="e1">
      <v-stepper-header>
        <v-stepper-step step="1" :complete="e1 > 1">Choose Category</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="2" :complete="e1 > 2">Product Details</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="3" :complete="e1 > 3">Upload Image</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="4">Done</v-stepper-step>
      </v-stepper-header>

      <v-stepper-content step="1">
        <v-card color="grey lighten-4" class="mb-5">
          <v-list two-line subheader>
            <v-subheader>Choose Product Category</v-subheader>
            <v-radio-group v-model="checkbox" :mandatory="true">
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>Category A</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-radio color="primary" value="1"></v-radio>
                </v-list-tile-action>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>Category B</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-radio color="primary" value="2"></v-radio>
                </v-list-tile-action>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>Category C</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-radio color="primary" value="3"></v-radio>
                </v-list-tile-action>
              </v-list-tile>
            </v-radio-group>
          </v-list>
        </v-card>
        <v-btn color="primary" @click.native="e1 = 2">Next</v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-card color="grey lighten-4" class="mb-5">
          <v-card-title>
            <span class="headline">Product Details</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-form v-model="valid" ref="form" lazy-validation>
                <v-text-field
                  label="Product Name"
                  v-model="productName"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  label="Product Description"
                  v-model="productDescription"
                  multi-line
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  label="Price"
                  v-model="price"
                  :rules="[rules.required]"
                  prefix="฿"
                ></v-text-field>
                <v-text-field
                  label="Quantity"
                  v-model="quantity"
                  :rules="[rules.required]"
                ></v-text-field>

                <v-flex>
                  <br>
                  <p class="text-xs-left"><b>Product Specifications</b></p>
                  <v-layout row wrap>
                    <v-flex xs5>
                      <v-text-field
                        label="Length"
                        v-model="length"
                        :rules="[rules.required]"
                        suffix="cm"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs2>
                    </v-flex>
                    <v-flex xs5>
                      <v-text-field
                        label="Width"
                        v-model="width"
                        :rules="[rules.required]"
                        suffix="cm"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex xs5>
                      <v-text-field
                        label="Height"
                        v-model="height"
                        :rules="[rules.required]"
                        suffix="cm"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs2>
                    </v-flex>
                    <v-flex xs5>
                      <v-text-field
                        label="Weight"
                        v-model="weight"
                        :rules="[rules.required]"
                        suffix="g"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-form>
            </v-container>
          </v-card-text>
        </v-card>

        <v-layout row wrap>
          <v-flex>
            <v-btn outline @click.native="e1 = 1">Back</v-btn>
          </v-flex>
          <v-flex>
          </v-flex>
          <v-flex>
            <v-btn color="primary" @click="submit" :disabled="!valid">Next</v-btn>
          </v-flex>
        </v-layout>
      </v-stepper-content>

      <v-stepper-content step="3">
        <v-card color="grey lighten-4" class="mb-5">
          <v-form enctype="multipart/form-data" novalidate>
            <div class="dropbox" v-if="!image">
              <input type="file" @change="onFileChange" accept="image/*" class="input-file">
                <p>
                  Drag your file here to upload image<br> or click to browse
                </p>
            </div>
            <div v-else>
              <br>
              <p>{{this.file.name}}</p>
              <img class="img" :src="image" />
              <v-btn flat ripple color="primary" @click="removeImage">
                Reupload Image
              </v-btn>
              <br>
            </div>
          </v-form>
        </v-card>
        <v-layout row wrap>
          <v-flex>
            <v-btn outline @click.native="e1 = 2">Back</v-btn>
          </v-flex>
          <v-flex>
          </v-flex>
          <v-flex>
            <v-btn color="primary" @click.native="addProduct">Submit</v-btn>
          </v-flex>
        </v-layout>
      </v-stepper-content>

      <v-stepper-content step="4">
        <v-card color="grey lighten-4" class="mb-5">
          <v-card-text>
            <div v-if="responseStatus=='OK'">
              <v-icon color="success" large>check_circle</v-icon>
              <p style="font-size: 20pt; color: green"> Product is Successfully Added</p>
              <p style="font-size: 15pt"> {{responseMsg}}</p>
            </div>
            <div v-else>
              <v-icon color="error" large>warning</v-icon>
              <p style="font-size: 20pt; color: red">Error Occur</p>
              <p style="font-size: 15pt">{{responseMsg}}</p>
              <p style="font-size: 15pt">Please Try Again</p>
            </div>
          </v-card-text>
        </v-card>
      </v-stepper-content>
    </v-stepper>
  </div>
</template>

<script>
import ProductApi from '../../api/product'

export default {
  data () {
    return {
      // global data
      e1: 0,
      // category data section
      checkbox: null,
      // product details section
      valid: true,
      productName: '',
      productDescription: '',
      price: '',
      quantity: '',
      width: '',
      height: '',
      length: '',
      weight: '',
      rules: {
        required: (value) => !!value || 'Required.'
      },
      // upload image section
      image: '',
      file: null,
      currentStatus: null,
      // done section
      responseStatus: '',
      responseMsg: ''
    }
  },
  // upload image section
  methods: {
    // category data section
    toggle (index) {
      const i = this.selected.indexOf(index)

      if (i > -1) {
        this.selected.splice(i, 1)
      } else {
        this.selected.push(index)
      }
    },
    // product details section
    submit () {
      if (this.$refs.form.validate()) {
        this.e1 = 3
      }
    },
    // upload image section
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0])
      this.file = files[0]
    },
    createImage(file) {
      var image = new Image()
      var reader = new FileReader()
      var vm = this

      reader.onload = (e) => {
        vm.image = e.target.result
      }
      reader.readAsDataURL(file)
    },
    removeImage: function (e) {
      this.image = ''
      this.file = null
    },
    addProduct () {
      const formData = new FormData()
      formData.append('pn', this.productName)
      formData.append('pd', this.productDescription)
      formData.append('price', this.price)
      formData.append('quantity', this.quantity)
      formData.append('length', this.length)
      formData.append('width', this.width)
      formData.append('height', this.height)
      formData.append('weight', this.weight)
      formData.append('file', this.file)

      ProductApi.addProduct(formData, _rs => {
        this.responseStatus = _rs[0]
        this.responseMsg = _rs[1]
      })
      this.e1 = 4
    }
  }
}
</script>

<!-- SASS styling -->
<style lang="scss">
  .dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: white;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }

  .dropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
  }

  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }

  .img {
    width: 100%;
  }
</style>
