<template>
  <v-card color="grey lighten-4" flat>
    <v-card-text>
      <v-container fluid>
        <p class="text-xs-left" STYLE="font-size: 15pt">Administrator Login</p>
        <v-layout row>
          <v-flex>
            <v-text-field
              label="Username"
              v-model="username"
              prepend-icon="account_box"
              :rules="usernamRules"
              required
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex>
            <v-text-field
              label="Password"
              type="password"
              v-model="password"
              prepend-icon="lock"
              :rules="passRules"
              required
            ></v-text-field>
          </v-flex>
        </v-layout>
        <p class="text-xs-center" STYLE="color: red;">{{errorMsg}}<p>
        <div class="text-xs-center">
          <v-btn round color="primary" dark @click="login">Login</v-btn>
        </div>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import AdminApi from '../../api/admin.js'

export default {
  name: 'login',
  data () {
    return {
      username: '',
      usernamRules: [(v) => !!v || 'Username is required'],
      password: '',
      passRules: [(v) => !!v || 'Password is required'],
      errorMsg: null
    }
  },
  methods: {
    login () {
      AdminApi.adminLogin(this.username, this.password, _rs => {
        if(_rs != null){
          this.errorMsg = _rs
        }
      })
    }
  }
}
</script>
