<template>
  <v-card>
    <v-card-title>
      <p STYLE="font-size: 15pt">Order List</p>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
        v-bind:headers="headers"
        v-bind:items="items"
        v-bind:search="search"
      >
      <template slot="items" slot-scope="props">
        <tr @click="move(props.item.orderId)">
          <td class="text-xs-center">{{ props.item.orderId}}</td>
          <td class="text-xs-center">{{ props.item.user.userId }}</td>
          <td class="text-xs-center">{{ date(props.item.created) }}</td>
          <td class="text-xs-center">{{ time(props.item.created) }}</td>
          <td class="text-xs-center">{{ props.item.total }}</td>
          <td class="text-xs-center">{{ props.item.status }}</td>
        </tr>
      </template>
      <template slot="pageText" slot-scope="{ pageStart, pageStop }">
        From {{ pageStart }} to {{ pageStop }}
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import OrderApi from '../../api/order.js'
import router from '../../router'
import store from '../../store'

export default {
  data () {
    return {
      max25chars: (v) => v.length <= 25 || 'Input too long!',
      tmp: '',
      search: '',
      pagination: {},
      headers: [
        { text: 'Order ID', value: 'orderId', align: 'center'},
        { text: 'User ID', value: 'userId', align: 'center'},
        { text: 'Date', value: 'created', align: 'center'},
        { text: 'Time', value: 'time', align: 'center'},
        { text: 'Order Total', value: 'total', align: 'center'},
        { text: 'Status', value: 'status', align: 'center'},
      ],
      items: []
    }
  },
  created(){
   this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      OrderApi.getAllOrder(_orders => {
        this.items = _orders
      })
    },
    date: function(millisec) {
      var d = new Date(millisec).toLocaleDateString('en-GB')
      return d
    },
    time: function(millisec) {
      var t = new Date(millisec).toLocaleTimeString('en-GB')
      return t
    },
    move: function (orderId) {
      router.push({ name: 'Admin.orderDetail', params: { orderId: orderId, role: store.getters.role} })
    }
  }
}
</script>
