<template>
  <v-card>
    <v-card-title>
      <p STYLE="font-size: 15pt">Product List</p>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <div class="text-xs-left">
      <v-btn color="success" :to="{ name: 'Admin.addProduct' }">
        <v-icon>add</v-icon>
          ADD NEW PRRODUCT
      </v-btn>
    </div>
    <v-data-table
        v-bind:headers="headers"
        v-bind:items="items"
        v-bind:search="search"
      >
      <template slot="items" slot-scope="props">
        <tr @click="move(props.item.productId)">
          <td class="text-xs-center">{{ props.item.productId }}</td>
          <td class="text-xs-center">{{ date(props.item.created) }}</td>
          <td class="text-xs-center">{{ props.item.productName }}</td>
          <td class="text-xs-center">{{ props.item.price }}</td>
          <td class="text-xs-center">{{ props.item.quantity }}</td>
        </tr>
      </template>
      <template slot="pageText" slot-scope="{ pageStart, pageStop }">
        From {{ pageStart }} to {{ pageStop }}
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import ProductApi from '../../api/product'
import router from '../../router'
import store from '../../store'

  export default {
    data () {
      return {
        max25chars: (v) => v.length <= 25 || 'Input too long!',
        tmp: '',
        search: '',
        pagination: {},
        headers: [
          { text: 'Product ID', value: 'productId', align: 'center'},
          { text: 'Created Date', value: 'created', align: 'center' },
          { text: 'Product Name', value: 'productName', align: 'center' },
          { text: 'Price', value: 'price', align: 'center' },
          { text: 'Quantity', value: 'quantity', align: 'center' }
        ],
        items: []
      }
    },
    created(){
     this.fetchData()
    },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      fetchData () {
        ProductApi.getAllProduct(_products => {
          this.items = _products
        })
      },
      date: function(millisec) {
        var d = new Date(millisec).toLocaleDateString('en-GB')
        return d
      },
      move: function (productId) {
        router.push({ name: 'Admin.productId', params: { productId: productId, role: store.getters.role } })
      }
    }
  }
</script>
