<template>
  <v-card>
    <v-card-title>
      <p STYLE="font-size: 15pt">Quotation List</p>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
        v-bind:headers="headers"
        v-bind:items="items"
        v-bind:search="search"
      >
      <template slot="items" slot-scope="props">
        <tr @click="move(props.item.quotationId)">
          <td class="text-xs-center">{{ props.item.quotationId }}</td>
          <td class="text-xs-center">{{ date(props.item.created) }}</td>
          <td class="text-xs-center">{{ props.item.companyName }}</td>
          <td class="text-xs-center">{{ props.item.contactName }}</td>
          <td class="text-xs-center">{{ props.item.contactTel }}</td>
          <td class="text-xs-center">{{ props.item.totalItem }}</td>
          <td class="text-xs-center">{{ props.item.totalQuantity }}</td>
          <td class="text-xs-center">{{ props.item.status }}</td>
        </tr>
      </template>
      <template slot="pageText" slot-scope="{ pageStart, pageStop }">
        From {{ pageStart }} to {{ pageStop }}
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import QuotationApi from '../../api/quotation'
import router from '../../router'
import store from '../../store'

  export default {
    data () {
      return {
        max25chars: (v) => v.length <= 25 || 'Input too long!',
        tmp: '',
        search: '',
        pagination: {},
        headers: [
          { text: 'Quotation ID', value: 'quoteId', align: 'center'},
          { text: 'Date', value: 'date', align: 'center'},
          { text: 'Company Name', value: 'companyName', align: 'center' },
          { text: 'Contact Name', value: 'contactName', align: 'center' },
          { text: 'Contact Tel', value: 'contactTel', align: 'center' },
          { text: 'Total Item', value: 'totalItem', align: 'center' },
          { text: 'Total Quantity', value: 'totalQuantity', align: 'center' },
          { text: 'Status', value: 'status', align: 'center' }
        ],
        items: []
      }
    },
    created(){
     this.fetchData()
    },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      fetchData () {
        QuotationApi.getAllQuotation(_quotation => {
          this.items = _quotation
        })
      },
      date: function(millisec) {
        var d = new Date(millisec).toLocaleDateString('en-GB')
        return d
      },
      move: function (quotationId) {
        router.push({ name: 'Admin.quotationDetail', params: { quoteId: quotationId, role: store.getters.role } })
      }
    }
  }
</script>
