<template>
  <v-card>
    <v-card-title>
      <p STYLE="font-size: 15pt">Customer List</p>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
        v-bind:headers="headers"
        v-bind:items="items"
        v-bind:search="search"
      >
      <template slot="items" slot-scope="props">
        <td class="text-xs-center">{{ props.item.userId }}</td>
        <td class="text-xs-center">{{ props.item.firstName }}</td>
        <td class="text-xs-center">{{ props.item.lastName }}</td>
        <td class="text-xs-center">{{ props.item.email }}</td>
      </template>
      <template slot="pageText" slot-scope="{ pageStart, pageStop }">
        From {{ pageStart }} to {{ pageStop }}
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import UserApi from '../../api/users'
import router from '../../router'
import store from '../../store'

  export default {
    data () {
      return {
        max25chars: (v) => v.length <= 25 || 'Input too long!',
        tmp: '',
        search: '',
        pagination: {},
        headers: [
          { text: 'Customer ID', value: 'quoteId', align: 'center'},
          { text: 'First Name', value: 'firstName', align: 'center'},
          { text: 'Last Name', value: 'lastName', align: 'center' },
          { text: 'Email', value: 'email', align: 'center' }
        ],
        items: []
      }
    },
    created(){
     this.fetchData()
    },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      fetchData () {
        UserApi.getAllUser(_users => {
          this.items = _users
        })
      }
    }
  }
</script>
