<template>
  <v-card color="grey lighten-4" flat>
    <v-card-text>
      <p class="text-xs-left" STYLE="font-size: 15pt"> Register New Account</p>
      <v-form v-model="valid" ref="form" lazy-validation>
        <v-text-field
          label="FirstName"
          v-model="firstName"
          :rules="[rules.required]"
          required
        ></v-text-field>
        <v-text-field
          label="LastName"
          v-model="lastName"
          :rules="[rules.required]"
          required
        ></v-text-field>
        <v-text-field
          label="E-mail"
          v-model="email"
          :rules="[rules.required, rules.email]"
          required
        ></v-text-field>
        <v-text-field
          label="Password"
          v-model="password"
          type="password"
          :rules="[rules.required]"
          required
        ></v-text-field>
        <v-text-field
          label="PasswordConfirmation"
          v-model="passwordConfirmation"
          type="password"
          :rules="[rules.required]"
          required
        ></v-text-field>
        <p class="text-xs-center" STYLE="color: red;">{{errorMsg}}<p>
        <v-btn
          @click="submit"
          :disabled="!valid"
        >
          submit
        </v-btn>
        <v-btn @click="clear">clear</v-btn>

        <div @click.stop="">
          *By clicking submit you agree to the
          <a href="javascript:;" @click.stop="terms = true">Terms and Conditions.</a>
        </div>

        <v-dialog v-model="terms" max-width="70%">
          <v-card>
            <v-card-title class="title">Terms and Conditions</v-card-title>
            <v-card-text>
              {{ content }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                flat
                @click="terms = false"
              >Ok</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <br>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import UserApi from '../../api/users'
import router from '../../router'

export default {
  data: () => ({
    valid: true,
    firstName: '',
    lastName: '',
    email: '',
    password: '',
    passwordConfirmation: '',
    rules: {
      required: (value) => !!value || 'Required.',
      email: (value) => {
        const pattern = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/
        return pattern.test(value) || 'Invalid e-mail.'
      }
    },
    errorMsg: '',
    content: 'CONTENT',
    terms: false
  }),
  methods: {
    submit () {
      if (this.$refs.form.validate()) {
        UserApi.register(this.firstName, this.lastName, this.email, this.password, this.passwordConfirmation, _rs => {
          if(_rs != null){
            this.errorMsg = _rs
          }
          else{
            router.push({ name: 'Login.index'})
          }
        })
      }
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>
