<template>
  <v-container
    fluid
    style="min-height: 0;"
    grid-list-lg
  >
    <p class="text-xs-left" STYLE="font-size: 15pt"><b>Account Dashboard</b></p>

    <v-layout>
      <v-flex>
        <v-card>
          <v-card-text>
            <p class="text-xs-center"><b>Personal Information</b></p>
            <v-layout row wrap>
              <v-flex>
                <p class="text-xs-left">FirstName: &nbsp;{{userInfo.firstName}}</p>
                <p class="text-xs-left">LastName: &nbsp;{{userInfo.lastName}}</p>
                <p class="text-xs-left">Email: &nbsp;{{userInfo.email}}</p>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-btn block color="secondary" @click="account">Edit Profile</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>

    <v-layout>
      <v-flex>
        <v-card>
          <v-card-text>
            <p class="text-xs-center"><b>My Order</b></p>
            <p style="font-size: 40pt">{{orderStatus.total}}</p>
            <v-layout row wrap>
              <v-flex>
                <p class="text-xs-left">Placed:</p>
                <p class="text-xs-left">In-Progress:</p>
                <p class="text-xs-left">Shipped:</p>
                <p class="text-xs-left">Delivered:</p>
              </v-flex>

              <v-flex>
                <p class="text-xs-right">{{orderStatus.statA}}</p>
                <p class="text-xs-right">{{orderStatus.statB}}</p>
                <p class="text-xs-right">{{orderStatus.statC}}</p>
                <p class="text-xs-right">{{orderStatus.statD}}</p>
              </v-flex >
            </v-layout>
          </v-card-text>
           <v-card-actions>
             <v-btn block color="secondary" @click="order">View Order</v-btn>
           </v-card-actions>
        </v-card>
      </v-flex>

      <v-flex>
        <v-card>
          <v-card-text>
            <p class="text-xs-center"><b>My Quotation</b></p>
            <p style="font-size: 40pt">{{quoteStatus.total}}</p>
            <v-layout row wrap>
              <v-flex>
                <p class="text-xs-left">Requested:</p>
                <p class="text-xs-left">Offered:</p>
                <p class="text-xs-left">Approved:</p>
                <p class="text-xs-left">Disapproved:</p>
              </v-flex>

              <v-flex>
                <p class="text-xs-right">{{quoteStatus.statA}}</p>
                <p class="text-xs-right">{{quoteStatus.statB}}</p>
                <p class="text-xs-right">{{quoteStatus.statC}}</p>
                <p class="text-xs-right">{{quoteStatus.statD}}</p>
              </v-flex >
            </v-layout>
          </v-card-text>

          <v-card-actions>
            <v-btn block color="secondary" @click="quotation">View Quotation</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import UsersApi from '../../api/users'
import QuotationApi from '../../api/quotation'
import OrderApi from '../../api/order'
import router from '../../router'
import store from '../../store'

export default {
  data () {
    return {
      userInfo: {},
      orderStatus: {},
      quoteStatus: {}
    }
  },
  created(){
   this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      const formData = new FormData()
      formData.append('option', store.getters.role)
      formData.append('id', store.getters.id)
      UsersApi.getUser(store.getters.id ,_user => {
        this.userInfo = _user
      })

      OrderApi.getTotalStatus(formData, _status => {
        this.orderStatus = _status
      })

      QuotationApi.getTotalStatus(formData, _status => {
        this.quoteStatus = _status
      })
    },
    account(){
      router.push({ name: 'Account.myAccount' })
    },
    order(){
      router.push({ name: 'Account.myOrder' })
    },
    quotation(){
      router.push({ name: 'Account.myQuotation' })
    }
  }
}
</script>
