<template>
  <v-layout>
    <v-flex>
      <v-card>
        <v-list two-line>
          <v-subheader style="font-size: 15pt"><b>My Order</b></v-subheader>
          <v-divider></v-divider>
          <template v-for="order in orders">
            <v-list-tile @click="move(order.orderId)">
              <v-list-tile-content>
                <v-list-tile-title>Order ID: &nbsp;{{order.orderId}}</v-list-tile-title>
                <v-list-tile-sub-title>Date: &nbsp;{{ date(order.created) }}</v-list-tile-sub-title>
                <v-list-tile-sub-title>Total: &nbsp;{{order.total}}฿</v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <p><b>Status:</b> &nbsp;{{order.status}}</p>
               </v-list-tile-action>
            </v-list-tile>
            <v-divider></v-divider>
          </template>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import OrderApi from '../../api/order'
import router from '../../router'
import store from '../../store'

export default {
  data () {
    return {
      orders: []
    }
  },
  created(){
   this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      OrderApi.getOrderByCustomerId(store.getters.id, _orders => {
        this.orders = _orders
      })
    },
    date: function(millisec) {
      var d = new Date(millisec).toLocaleDateString('en-GB')
      return d
    },
    move: function (orderId) {
      router.push({ name: 'Account.myOrderId', params: { orderId: orderId, role: store.getters.role } })
    }
  }
}
</script>
