<template>
  <v-layout>
    <v-flex>
      <v-card>
        <v-list two-line>
          <v-subheader style="font-size: 15pt"><b>My Quotation</b></v-subheader>
          <v-divider></v-divider>
          <template v-for="quote in quotations">
            <v-list-tile @click="move(quote.quotationId)">
              <v-list-tile-content>
                <v-list-tile-title>Quotation ID: &nbsp;{{quote.quotationId}}</v-list-tile-title>
                <v-list-tile-sub-title>Date: &nbsp;{{ date(quote.created) }}</v-list-tile-sub-title>
                <v-list-tile-sub-title>Total Item: &nbsp;{{quote.totalItem}}</v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <p><b>Status:</b> &nbsp;{{quote.status}}</p>
               </v-list-tile-action>
            </v-list-tile>
            <v-divider></v-divider>
          </template>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import QuotationApi from '../../api/quotation'
import router from '../../router'
import store from '../../store'

export default {
  data () {
    return {
      quotations: []
    }
  },
  created(){
   this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      QuotationApi.getQuotationByCustomerId(store.getters.id, _quotations => {
        this.quotations = _quotations
      })
    },
    date: function(millisec) {
      var d = new Date(millisec).toLocaleDateString('en-GB')
      return d
    },
    move: function (quoteId) {
      router.push({ name: 'Account.myQuotationId', params: { quoteId: quoteId, role: store.getters.role } })
    }
  }
}
</script>
