<template>
  <v-layout column>
    <v-flex>
      <v-container fluid grid-list-md class="grey lighten-4">
        <v-layout row wrap>
          <v-flex
            v-bind="{ [`xs12 md3`]: true }"
            v-for="product in products"
            :key="product.productId"
          >
            <v-card
              :to="'/product/'+product.productId"
            >
              <v-card-media
                :src="'data:image/png;base64,'+product.image"
                height="300px"
              >
              </v-card-media>
              <v-flex>
                <span class="black--text" STYLE="font-size: 15pt">{{product.productName}}</span>
              </v-flex>
              <v-flex>
                <span class="red--text" STYLE="font-size: 15pt">{{product.price}} ฿</span>
              </v-flex>
              <!-- <v-card-actions class="white">
                <v-btn block color="primary" @click="addToCart(product)">Add to Cart</v-btn>
              </v-card-actions> -->
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
  </v-layout>
</template>
<script>
import router from '../../router'
import ProductApi from '../../api/product'
import store from '../../store'

export default {
  name: 'app',
  data() {
    return {
      products: null
    }
  },
  created(){
   this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    addToCart(product){
      store.dispatch('addToCart', product)
    },
    fetchData () {
      ProductApi.getAllProduct(_products => {
        this.products = _products
      })
    }
  }
}
</script>
