<template>
<v-app light>
    <v-navigation-drawer
      persistent
      v-model="drawer"
      enable-resize-watcher
      app
    >
    <v-toolbar flat>
      <v-list>
        <v-list-tile>
          <v-list-tile-title class="title">
            Menu
          </v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-divider></v-divider>

    <!-- Drawer for customer -->
    <v-list v-if="$store.getters.role != 'ADMIN'">
      <v-list-tile :to="{ name: 'Home.index' }">
        <v-list-tile-action>
            <v-icon light>dashboard</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Home</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile v-if="$store.getters.loggedIn" :to="{ name: 'Account.index' }">
        <v-list-tile-action>
            <v-icon light>account_circle</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Account</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile :to="{ name: 'Cart.index' }">
        <v-list-tile-action>
          <v-badge>
            <span v-if="$store.getters.inCart != 0" slot="badge">{{$store.getters.inCart}}</span>
            <v-icon light>shopping_cart</v-icon>
          </v-badge>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Shopping Cart</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile v-if="$store.getters.loggedIn" :to="{ name: 'Quotation.add' }">
        <v-list-tile-action>
            <v-icon light>description</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Request Quotation</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

    <!-- Drawer for admin -->
    <v-list v-else-if="$store.getters.role === 'ADMIN'">
      <v-list-tile :to="{ name: 'Admin.user' }">
        <v-list-tile-action>
            <v-icon light>people</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Customer</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile :to="{ name: 'Admin.product' }">
        <v-list-tile-action>
            <v-icon light>store</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Product</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile :to="{ name: 'Admin.order' }">
        <v-list-tile-action>
            <v-icon light>assignment</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Order</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile :to="{ name: 'Admin.quotation' }">
        <v-list-tile-action>
            <v-icon light>description</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Quotation</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

    </v-navigation-drawer>

    <v-toolbar fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>

      <v-toolbar-title v-if="$store.getters.role != 'ADMIN'">Candle Shop</v-toolbar-title>
      <v-toolbar-title v-else-if="$store.getters.role === 'ADMIN'">Back Store</v-toolbar-title>
      <v-spacer></v-spacer>

      <div v-if="$store.getters.loggedIn">
        <v-toolbar-items>
          <v-btn flat disabled>Welcome {{$store.getters.user}}</v-btn>
          <v-btn flat ripple color="primary" @click="logout">Logout</v-btn>
        </v-toolbar-items>
      </div>
      <div v-else>
        <v-toolbar-items>
          <router-link  :to="{ name: 'Login.index' }">
            <v-btn flat ripple color="primary">Login</v-btn>
          </router-link>
        </v-toolbar-items>
      </div>

    </v-toolbar>

    <main>
      <v-content>
        <v-container fluid>
          <v-slide-y-transition mode="out-in">
            <router-view></router-view>
          </v-slide-y-transition>
        </v-container>
      </v-content>
    </main>

    <v-footer :fixed="fixed" app>
      <span>&copy; Candle Shop 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
import store from './store'

export default {
  data () {
    return {
      drawer: true,
      fixed: false
    }
  },
  methods: {
    logout () {
      store.dispatch('logout')
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
