<template>
  <v-card>
    <v-layout column>
      <v-card-text>
        <v-layout>
          <v-flex class="text-xs-left">
            <p style="font-size: 20pt"><b>Order #{{data.order.orderId}}</b></p>
          </v-flex>
          <v-flex class="text-xs-right">
            <p style="font-size: 15pt"><b>Date:</b> &nbsp;{{date}}</p>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex class="text-xs-left">
            <p style="font-size: 15pt"><b>STATUS: &nbsp;{{data.order.status}}</b></p>
          </v-flex>
          <v-flex class="text-xs-right">
            <p style="font-size: 15pt"><b>TOTAL: &nbsp;{{data.order.total}}฿</b></p>
          </v-flex>
        </v-layout>
        <div v-if="role=='ADMIN'">
          <p class="text-xs-left" style="color: red">Change Status</p>
          <v-layout>
            <v-select
              label="Select"
              v-bind:items="status"
              v-model="selected"
            ></v-select>
            <v-btn color="red" dark @click="update">UPDATE</v-btn>
          </v-layout>
        </div>
        <v-divider></v-divider>
        <br>
        <p class="text-xs-left"><b><u>Shipping Info</u></b></p>
        <v-layout class="text-xs-left">
          <p><b>Name:</b> &nbsp;{{data.order.name}}</p>
        </v-layout>
        <v-layout class="text-xs-left">
          <v-flex>
            <p><b>Address:</b></p>
            <p>{{data.order.address}}</p>
          </v-flex>
        </v-layout>
        <v-layout>
            <v-flex class="text-xs-left">
              <p><b>Postcode:</b> &nbsp;{{data.order.postcode}}</p>
            </v-flex>
            <v-flex class="text-xs-center">
              <p><b>District:</b> &nbsp;{{data.order.district}}</p>
            </v-flex>
            <v-flex class="text-xs-right">
              <p><b>Province:</b> &nbsp;{{data.order.province}}</p>
            </v-flex>
        </v-layout>
        <v-layout class="text-xs-left">
          <p><b>Phone Number:</b> &nbsp;{{data.order.phoneNumber}}</b></p>
        </v-layout>
        <div v-if="role==null">
          <v-divider></v-divider>
          <br>
          <p class="text-xs-left"><b><u>Customer Account Info</u></b></p>
          <v-layout>
            <v-flex>
              <p class="text-xs-left"><b>User ID:</b> &nbsp;{{data.order.user.userId}}</p>
              <p class="text-xs-left"><b>User Email:</b> &nbsp;{{data.order.user.email}}</p>
            </v-flex>
          </v-layout>
        </div>
      </v-card-text>
      <v-card>
        <!-- <v-card-title>
          <b>Cart Info</b>
        </v-card-title> -->
        <v-data-table
            v-bind:headers="headers"
            :items="items"
          >
          <template slot="items" slot-scope="props">
            <td class="text-xs-center">{{ props.item.productId }}</td>
            <td class="text-xs-center">{{ props.item.productName }}</td>
            <td class="text-xs-center">{{ props.item.productPrice }}</td>
            <td class="text-xs-center">{{ props.item.amount }}</td>
            <td class="text-xs-center">{{ props.item.total }}</td>
          </template>
        </v-data-table>
      </v-card>
    </v-layout>
    <v-snackbar
     :timeout="timeout"
     :color="color"
     :multi-line="mode === 'multi-line'"
     :top="y === 'top'"
     v-model="snackbar"
    >
      <v-icon dark>check_circle</v-icon>&nbsp;&nbsp;UPDATE SUCCESS
      <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
import OrderApi from '../../api/order'
import router from '../../router'

export default {
  props: ['orderId', 'role'],
  data () {
    return {
      data: {},
      selected: '',
      headers: [
        { text: 'Product ID', value: 'pId', align: 'center'},
        { text: 'Product Name', value: 'pName', align: 'center'},
        { text: 'Unit Price', value: 'price', align: 'center'},
        { text: 'Quantity', value: 'qty', align: 'center'},
        { text: 'Total', value: 'total', align: 'center'},
      ],
      status: ['In-Progress', 'Shipped', 'Delivered'],
      items: [],
      // snackbar
      snackbar: false,
      color: 'success',
      y: 'top',
      mode: 'multi-line',
      timeout: 3000
    }
  },
  computed: {
    date() {
      var d = new Date(this.data.order.created).toLocaleDateString('en-GB')
      return d
    }
  },
  created(){
   this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      OrderApi.getOrder(this.orderId, _order => {
        this.data = _order
        this.items = _order.orderItem
      })
    },
    update () {
      const formData = new FormData()
      formData.append('id', this.orderId)
      formData.append('status', this.selected)
      OrderApi.updateStatus(formData , _order => {
        this.data = _order
        this.items = _order.orderItem
        this.snackbar = true
      })
    }
  }
}
</script>
